<!-- agenda/templates/agenda/contato_lista.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Agenda de Contatos</title>
    <link rel="stylesheet" href="{% static 'agenda/style.css' %}">
</head>
<body>
    <div class="container">

        {% if user.is_authenticated %}
            <p>Olá, {{user.username}}!</p>
            <a href="{% url 'logout' %}">Sair</a>
        {% else %}
            <p>Você não está logado</p>
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}

        <h1>Meus Contatos</h1>
        <a href="{% url 'agenda:contato_criar' %}" class="add-link">Adicionar Novo Contato</a>
        {% if contatos %}
            <ul>
                {% for contato in contatos %}
                    <li>
                        <div class="contact-info">
                            <a href="{% url 'agenda:contato_detalhe' contato.pk %}">{{ contato.nome }} - {{contato.email}}</a>
                        </div>
                        <div class="action-links">
                            <a href="{% url 'agenda:contato_editar' contato.pk %}" class="edit-link">Editar</a>
                            <a href="{% url 'agenda:contato_excluir' contato.pk %}" class="delete-link">Excluir</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty-list">Nenhum contato cadastrado ainda. Clique em "Adicionar Novo Contato" para começar!</p>
        {% endif %}
    </div>
</body>
</html>