<!-- agenda/templates/agenda/contato_lista.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Agenda de Contatos</title>
    <link rel="stylesheet" href="{% static 'agenda/style.css' %}">
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }}!</p>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
   {% csrf_token %}
   <button type="submit" class="link-button">Sair</button>
</form>

        {% else %}
            <p>Você não está logado.</p>
            <a href="{% url 'login' %}">Entrar</a> | <a href="{% url 'register' %}">Registrar</a>
        {% endif %}

        <h1>Meus Contatos</h1>

        <a href="{% url 'agenda:contato_criar' %}" class="add-link">Adicionar Novo Contato</a>

        {% if contatos %}
            <ul>
                {% for contato in contatos %}
                    <li>
                        <a href="{% url 'agenda:contato_detalhe' pk=contato.pk %}">
                            <span>{{ contato.nome }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty-list">Nenhum contato cadastrado ainda. Adicione o seu primeiro!</p>
        {% endif %}
    </div>
</body>
</html>