<!-- agenda/templates/registration/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'agenda/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Registrar uma Nova Conta</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field-container">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'agenda:contato_lista' %}" class="back-link">Voltar para a Home</a>
    </div>
</body>
</html>